<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @course.image.url(:medium) %>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><strong>Title:</strong></td>
								<td><%= @course.title %></td>
							</tr>
							<tr>
								<td><strong>Description:</strong></td>
								<td><%= @course.description %></td>
							</tr>
							<tr>
								<td><strong>Faculty:</strong></td>
								<td><%= @course.faculty %></td>
							</tr>
						</tbody>
					</table>
					<%= link_to "Write a Review", new_course_review_path(@course) %>
				</div>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<h1 class = "review_title"><%= @course.title %></h1>
				<p><%= @course.description %></p>

				<% if @reviews.blank? %>
					<h3>No reviews just yet, would you like to add the first!</h3>
					<%= link_to "Write Review", new_course_review_path(@course), class: "btn btn-danger" %>
				<% else %>
					<% @reviews.each do |review| %>
						<div class = "reviews">
							<p><%= review.comment %></p>
						</div>
					<% end %>
					<% end %>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
